*, *::after, *::before {
        box-sizing: border-box;     
}

body {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, 4rem);
        grid-template-rows: 10rem 5rem 10rem;
        gap: 3rem;
        cursor: pointer;
        justify-content: center;
        padding-top: 1rem;
}

.deck {
        height: 100%;
        width: 100%;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        border-radius: .5rem;
        color: black;
        user-select: none;
}

.computer-deck {
        background-color: seagreen;
}

.player-deck {
        background-color: teal;
}

.text {
        grid-column: span 2;
        display: flex;
        justify-content: center;
        align-items: center;
}

.card {
        position: relative;
        height: 100%;
        width: 150%;
        border: 2px solid black;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
}

.card.red {
        color: red;
}

.card.black {
        color:black;
}

.card::before,
.card::after {
        position: absolute;
        content: attr(data-value);
        font-size: 2rem;
}

.card::before {
        top: .25rem;
        left: .5rem;
}

.card::after {
        bottom: .25rem;
        right: .5rem;
        transform: rotate(180deg);
}

.player-color{
        position: relative;
        justify-content: left;
        align-items: center;

}

.computer-color{
        position: relative;
        justify-content: center;
        align-items: center;
}